.pg-btn{
    width: 1.75rem;
    height: 1.75rem;
    font-size: 11px;
    color: rgb(19, 17, 17);
    font-weight: 600;
    border-radius: 6px;
    background-color: rgba(220, 220, 220, 0.164);
    margin: 0 0.25rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.pg-active-btn{
    background-color: #9b27b0e0;
    color: white;
}