//STYLES

.app-container{
  background-color: #faf5ef91;
}


.app-sidebar{
  min-height: fit-content !important;
  max-height: calc(100vh - 5rem);
  @extend .gt-shadow2;
}

.app-rightbar{
  min-height: fit-content;
  max-height: calc(100vh - 5rem);
  @extend .gt-shadow2;
}

.app-body0{
  width: calc(100vw - 19.4rem);
  height: calc(100vh - 5rem);
}

.app-body{
  width: calc(100vw - 1.75rem);
  height: calc(100vh - 5rem);
  @extend .gt-shadow2;
}

.app-subbody2{
  height: calc(100vh - 8rem);
}

.app-table{
  height: calc(100vh - 16.50rem) !important;
  overflow-y: auto !important;
}

.app-form{
  max-height: calc(100vh - 15.15rem) !important;
  overflow-y: auto !important;
}


.tr-menu{
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  &:hover{
    background: linear-gradient(90deg, #c8c4d32a, #c8c4d37e, #c8c4d3) !important;
  }
}
 


#pg-container {
  margin: 1rem;
}

.pg-items {
  margin-bottom: 1rem;
}

.gt-border1 {
  border-style: solid !important;
  border-width: 2.5px !important;
  border-image: linear-gradient(85deg, #2563eb, #6b51b4, #6c27d7) 1 !important;
}

.gt-border1sc {
  border-style: solid !important;
  border-width: 2.5px !important;
  border-image: linear-gradient(85deg, #2564eb1e, #6b51b4, #6d27d769) 1 !important;
  border-radius: 100% !important;
}


.badge-active{
  transition: 0.5s ease-in-out;
  .tab-badge{
    transition: 0.5s ease-in-out;
    // background-color: #8e24aa !important;
    background: linear-gradient(90deg, #7b1fa2, #ba68c8) !important;
    color: white !important;
  }
}

.badge-disabled{
  transition: 0.5s ease-in-out;
  .tab-badge{
    transition: 0.5s ease-in-out;
    background-color: rgba(128, 128, 128, 0.253) !important;
    color: rgba(255, 255, 255, 0.801) !important;
  }
  &:hover{
    .tab-badge{
      transition: 0.5s ease-in-out;
      background-color: #8e24aa !important;
      color: white !important;
    }
  }
}


.item-image-0{
  height: 2.75rem;
  width: 2.75rem;
  padding: 2px;
  .image-layer-2{
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .image-layer-3{
      max-height: 1.5rem;
      max-width: 1.5rem;
      align-self: center;
      img{
        max-height: 1.5rem;
        max-width: 1.5rem;
      }
    }
  }
}

.item-image-1{
  height: 3.25rem;
  width: 3.25rem;
  padding: 2px;
  .image-layer-2{
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .image-layer-3{
      max-height: 1.75rem;
      max-width: 1.75rem;
      align-self: center;
      img{
        max-height: 1.75rem;
        max-width: 1.75rem;
      }
    }
  }
}

.item-image-2{
  transition: 0.5s ease-in-out;
  padding: 0.065rem;
  cursor: pointer;
  .image-layer-2{
    width: 100%;
    height: 100%;
    padding: 1px;
    img{
      width: 100%;
      height: 100%;
    }
  }
}

.modal-width, .modal-width-2, .modal-width-3{
  background-color: rgba(131, 95, 131, 0.25);
  width: 100vw !important;
  height: 100vh !important;
  .modal-content{
    width: 90vw;
  }
}


.product-image-2{
  height: 100%;
  width: 4.15rem;
  .image-layer-2{
    max-height: 2.5rem;
    max-width: 2.25rem;
    img{
      max-height: 2.5rem;
      max-width: 2.25rem;
    }
  }
}


/** sm  **/
@media (min-width: 640px) {

  .modal-width{
    .modal-content{
      width: 585px;
    }
  }

  .modal-width-2{
    .modal-content{
      width: 625px;
    }
  }

  .modal-width-2{
    .modal-content{
      width: 625px;
    }
  }

}

/** md  **/
@media (min-width: 768px) {

  .app-body{
    width: calc(100vw - 19.4rem);
  }

  .modal-width-2{
    .modal-content{
      width: 655px;
    }
  }

  .modal-width-3{
    .modal-content{
      width: 725px;
    }
  }
 
}

/** lg **/
@media (min-width: 1024px) {

  .modal-width-2{
    .modal-content{
      width: 675px;
    }
  }

  .modal-width-3{
    .modal-content{
      width: 875px;
    }
  }

}

/** xl **/
@media (min-width: 1280px) {
  
}

/** 2xl **/
@media (min-width: 1536px) {
  
  
}


