//STYLES

.app-container{
  background-color: #faf5ef91;
}

.app-sidebar{
  min-height: fit-content !important;
  max-height: calc(100vh - 6.5rem);
  @extend .gt-shadow2;
}

.app-rightbar{
  min-height: fit-content;
  max-height: calc(100vh - 6.5rem);
  @extend .gt-shadow2;
}

.app-body0{
  width: calc(100vw - 19.4rem);
  height: calc(100vh - 6.5rem);
}

.app-body{
  width: calc(100vw - 19.4rem);
  height: calc(100vh - 6.5rem);
  @extend .gt-shadow2;
}

.app-subbody2{
  height: calc(100vh - 9.327rem);
}

.app-table{
  height: calc(100vh - 18.5rem) !important;
  overflow-y: auto !important;
}

.app-form{
  max-height: calc(100vh - 15.15rem) !important;
  overflow-y: auto !important;
}


.tr-menu{
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  &:hover{
    background: linear-gradient(90deg, #c8c4d32a, #c8c4d37e, #c8c4d3) !important;
  }
}
 


#pg-container {
  margin: 1rem;
}

.pg-items {
  margin-bottom: 1rem;
}

.gt-border1 {
  border-style: solid !important;
  border-bottom-width: 2.5px !important;
  border-image: linear-gradient(85deg, #2563eb, #6b51b4, #6c27d7) 1 !important;
}

.gt-border1sc {
  border-style: solid !important;
  border-bottom-width: 2.5px !important;
  border-image: linear-gradient(85deg, #2564eb1e, #6b51b4, #6d27d769) 1 !important;
}


.badge-active{
  transition: 0.5s ease-in-out;
  .tab-badge{
    transition: 0.5s ease-in-out;
    background-color: #8e24aa !important;
    color: white !important;
  }
}

.badge-disabled{
  transition: 0.5s ease-in-out;
  .tab-badge{
    transition: 0.5s ease-in-out;
    background-color: rgba(128, 128, 128, 0.253) !important;
    color: rgba(255, 255, 255, 0.801) !important;
  }
  &:hover{
    .tab-badge{
      transition: 0.5s ease-in-out;
      background-color: #8e24aa !important;
      color: white !important;
    }
  }
}


.brand-image{
  img{
    max-width: 2rem;
    max-height: 2.5rem;
  }
}



/** sm  **/
@media (min-width: 640px) {

}

/** md  **/
@media (min-width: 768px) {
 
}

/** lg **/
@media (min-width: 1024px) {

}

/** xl **/
@media (min-width: 1280px) {
  
}

/** 2xl **/
@media (min-width: 1536px) {
  
}


